/**
 * Colors
 */
$clr-black:                   #000;
$clr-grey-light:              #757575;
$clr-grey-nickel:             #C4C4C4;
$clr-grey-vampire:            #525252;
$clr-pale-copper-01:          #DB8876;
$clr-red-dark-01:             #901C1C;
$clr-red-dark-02:             #911C1C;
$clr-red-light:               #D3573C;
$clr-thunder:                 #312E2E;
$clr-white:                   #FFF;
$clr-white-alabaster:         #FAFAFA;
$clr-white-mercury:           #E5E5E5;

/**
 * Timers
 */
$timer-fast:                    300ms;
$timer-normal:                  600ms;
$timer-low:                     900ms;