.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 70px;
  column-gap: calc(100% / 3 - 300px);
  &__media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 300px;
    &__img {
      border-radius: 5px;
      object-fit: cover;

      height: 300px;
      // width: 350px;
      width: 300px;
    }
    &__name {
      @include font($color: $clr-red-dark-01, $fontSize: 24px, $fontWeight: 400, $lineHeight: 31px);
    }
    &__like {
      @include font($color: $clr-red-dark-02, $fontSize: 24px, $fontWeight: 400, $lineHeight: 31px);
      &__total {}
      &__heart:before {
        content: '\2665';
        @include font($fontSize: 24px, $fontWeight: 400, $lineHeight: 31px);
      }
    }
  }
}