.modalContact {

  .modal__content{

    header {
      h2 {}
      img {}
    }

    form {
        overflow-y: auto;
        overflow-x: hidden;
    }

    button {
      margin: 26px 17px 5px;
      align-self: start;
    }
  }
}

// {}