// https://codepen.io/j0be/pen/jWGVvV?editors=1100
.dropdown {
  background-color: $clr-red-dark-02;
  border-radius: 5px;
  color: $clr-white;
  cursor: pointer;
  white-space:  nowrap;

  display: inline-block;
  overflow: hidden;
  position: relative;
  height: 2em;

  label {
    display: block;
    position: relative;

    line-height: 2em;
    height: 2em;
    padding: 0 60px 0 20px;

    &:not(:first-of-type):before {
      border-bottom: solid 1px $clr-white;
      content: '';
      transition: $timer-fast all ease-in-out;

      position: absolute;
      top: 0;
      right: 10px;
      // bottom: 0;
      left: 10px;
    }
  }

  input {
    display:block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:checked + label {
      display: block;
      &:after {
        @include font($fontSize:40px, $fontWeight: 100, $lineHeight: 0);
        content: '\032D';

        position: absolute;
        top: -4px;
        right: 22px;
      }
    }
  }

  &.expanded {
    height: auto;
  }

}