// https://codepen.io/j0be/pen/jWGVvV?editors=1100

.dropdown {
  // min-width: 12em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height:2em;
  overflow:hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: $clr-white;

  outline: none;
  border-radius: 5px;
  background-color: $clr-red-dark-01;

  transition: $timer-fast all ease-in-out;
  input:focus + label {}
  input {
    width: 1px;
    height: 1px;
    display: inline-block;
    position: absolute;
    opacity: 0.01;
  }
  label {
    border-top: .06em solid $clr-white;
    display:block;
    height: 2em;
    line-height: 2em;
    padding-left: 1em;
    padding-right: 3em;
    cursor: pointer;
    position: relative;
    transition: $timer-fast color ease-in-out;
    &:nth-child(2) {
      margin-top: 2em;
      border-top: .06em solid $clr-white;
    }
  }
  input:checked + label {
    display:block;
    border-top: none;
    position: absolute;
    top: 0;
    width: 100%;

    &:nth-child(2) {
      margin-top: 0;
      position: relative;
    }
  }

  &::after {
    content:"";
    position: absolute;
    right: 0.8em;
    top: 0.9em;
    border: .3em solid $clr-white;
    border-color: $clr-white transparent transparent transparent;
    transition: .4s all ease-in-out;
  }
  &.expanded {
    // border: .06em solid #3694d7;
    background: $clr-red-dark-01;
    border-radius: .25em;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 5px 0px;
    max-height:15em;

    label {
      border-top: .06em solid #d9d9d9;
      &:hover {}
    }
    input:checked + label {}

    &::after {
      transform: rotate(-180deg);
      top:.55em;
    }
  }
}